<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>AHHHHHHHHHHHHHHHHHHHHHH</title>

        <link rel="stylesheet" href="styles.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    </head>
    <body>
        <div class="bodyDiv">
            <h1>Web Sockets</h1>

            <h2>Device DHT_1</h2>
            <div class="sensorDiv">
                <div class="valueDiv">
                    <p><span name="1_temp" id="temperature">%TEMP%</span> °C</p>
                    <p>Temperature</p>
                </div>
                <div class="valueDiv">
                    <p><span name="1_humid" id="humidity">%HUMI%</span> %</p>
                    <p>Humidity</p>
                </div>
            </div>

            <h2>Device DHT_2</h2>
            <div class="sensorDiv">
                <div class="valueDiv">
                    <p><span name="2_temp" id="temperature">%TEMP%</span> °C</p>
                    <p>Temperature</p>
                </div>
                <div class="valueDiv">
                    <p><span name="2_humid" id="humidity">%HUMI%</span> %</p>
                    <p>Humidity</p>
                </div>
            </div>

            <div class="buttonGroupDiv">
                <a><button class="buttonRelay" id="relay-1">Relay 1</button></a>
                <a><button class="buttonRelay" id="relay-2">Relay 2</button></a>
            </div>
            <p id="state" class="state">state: wait for connection...</p>
        </div>
        <script type="text/javascript">
        const socket = io.connect("http://" + document.domain + ":" + location.port);
        const state = document.getElementById("state");

        socket.on("connect", function() {
            state.innerHTML = "state: Connected";
        });


        socket.on("disconnect", function() {
            state.innerHTML = "state: Disconnected";
        });

        socket.on("response", function(data) {
            console.log("Server says: " + data);
            const parts = data.split('_');

            const device = parts[0];
            const values = parts[1].split('-');

            const temp_label = device + "_temp";
            const humid_label = device + "_humid";

            document.getElementsByName(device + "_temp")[0].innerText = values[0];
            document.getElementsByName(device + "_humid")[0].innerText = values[1];
        });


        let light_1 = 0;
        let light_2 = 0;

        const buttons = document.querySelectorAll('button');
        buttons.forEach(button => {
            button.addEventListener('click', function(event) {
                const light = parseInt(event.target.id.split('-')[1]);

                // lol i know this code is terrible but it just needs to work
                // so i have some sanity
                if (light === 1 && light_1 === 0) {
                    light_1 = 1;
                    socket.emit('relay', `${light}-${light_1}`);
                } else if (light === 1 && light_1 === 1) {
                    light_1 = 0;
                    socket.emit('relay', `${light}-${light_1}`);
                } else if (light === 2 && light_2 === 0) {
                    light_2 = 1;
                    socket.emit('relay', `${light}-${light_2}`);
                } else if (light === 2 && light_2 === 1) {
                    light_2 = 0;
                    socket.emit('relay', `${light}-${light_2}`);
                }
            });
        });
        </script>
    </body>
</html>
