/* Bryce Kwon */ 

@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); }
 @font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}

.cheesecake-form {
  background-color: #317ECC;
  height: 300px;
}

.cheesecake-title {
  background-color: yellow;
  font-family: Delicious, sans-serif;
}

.cheesecake-image {
  height: 20%;
  width: 20%;
}

.main-title {
  height: 10px;

}

.form-option {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.order-button {
  margin-left: 20px;
  margin-right: 20px;
}
